html {
  background-color: #fff;
  color: #000;
}
p.innerText {
  font-size: large;
}
span.innerText {
  font-size: large;
}
span.aboutHeading {
  font-size: x-large;
}
/* links (lt) */
a.lt {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 173, 42);
}
a.lt:visited {
  cursor: pointer;
  color: rgb(255, 173, 42);
}
a.lt:hover {
  cursor: pointer;
  color: #eeff00;
}
/* links (dt) */
a.dt {
  text-decoration: none;
  cursor: pointer;
  color: rgb(146, 39, 233);
}
a.dt:visited {
  cursor: pointer;
  color: rgb(146, 39, 233);
}
a.dt:hover {
  cursor: pointer;
  color: #4700cc;
}
/* links (b) */
a.b:link {
  text-decoration: none;
  cursor: pointer;
  color: rgb(58, 73, 207);
}
a.b:visited {
  cursor: pointer;
  color: rgb(58, 73, 207);
}
a.b:hover {
  cursor: pointer;
  color: #00a100;
}
/* links (c) */
a.c:link {
  text-decoration: none;
  color: rgb(0, 116, 170);
}
a.c:visited {
  color: rgb(0, 116, 170);
}
a.c:hover {
  color: #007500;
}
/* links (p) */
a.p:link {
  text-decoration: none;
  color: rgb(0, 116, 170);
}
a.p:visited {
  color: rgb(0, 116, 170);
}
a.p:hover {
  color: rgb(255, 0, 0);
}
/* hide and show blog preview link */
a.bp {
  color: rgb(0, 116, 170);
  cursor: pointer;
}
a.bp:link {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 116, 170);
}
a.bp:visited {
  cursor: pointer;
  color: rgb(0, 116, 170);
}
a.bp:hover {
  cursor: pointer;
  color: #78ac00;
}
/* links (title) */
a.title:link {
  text-decoration: none;
  color: rgb(0, 0, 0)
}
a.title:visited {
  color: rgb(0, 0, 0)
}
a.title:hover {
  color: rgb(180, 0, 0)
}
/* links (going back) */
a.gb:link {
  text-decoration: none;
  color: rgb(233, 55, 55);
}
a.gb:visited {
  color: rgb(233, 55, 55);
}
a.gb:hover {
  color: #c139eb;
}
/* hide and show languages names */
/* ES */
.hidees {
  display: none;
}
.showes:hover + .hidees {
  display: inline-block;
}
/* EN */
.hideen {
  display: none;
}
.showen:hover + .hideen {
  display: inline-block;
}
/* NL */
.hidenl {
  display: none;
}
.shownl:hover + .hidenl {
  display: inline-block;
}

/* screen width higher than 1000 px */
@media screen and (min-width: 2000px) {
  /* two-col layout */
  div.column {
    float: left;
  }
  div.leftcol {
    width: 95%
  }
  div.rightcol {
    width: 5%
  }
  div.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .l:visited {
    color: #f00;
  }
  .l:link {
    text-decoration: none;
    color: #f00;
  }
  .l:hover {
    color: #ff5614;
  }
  a.ml, a.b, a.p, a.b, a.bp, a.gb {
    font-size: 1.2vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  img.playlistImages {
    width: 18vw;
  }
  a,
  ul,
  p,
  ol,
  span {
    font-size: 1vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  figcaption,  a.figcaption {
    font-size: 0.8vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  sup {
    font-size: 0.5vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  a.imageSource {
    text-align: center;
    font-size: 0.5vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  span.aboutHeading2 {
    font-size: 1.2vw;
  }
  span.aboutHeading3 {
    font-size: 1vw;
  }
  h3.aboutHeading2 {
    font-size: 1.2vw;
  }
  .heading {
    font-size: 0.9vw;
  }
  .heading2 {
    font-size: 0.9vw;
  }
  h1 {
    font-size: 2vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  h2 {
    font-size: 1.7vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  h3 {
    font-size: 1.2vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  h4 {
    font-size: 1vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  .dash {
    font-size: 1vw;
  }
}

/* screen width higher than 1000 px */
@media screen and (max-width: 2000px) and (min-width: 1000px) {
  /* two-col layout */
  div.column {
    float: left;
  }
  div.leftcol {
    width: 90%
  }
  div.rightcol {
    width: 10%
  }
  div.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .l:visited {
    color: #f00;
  }
  .l:link {
    text-decoration: none;
    color: #f00;
  }
  .l:hover {
    color: #ff5614;
  }
  a.ml, a.b, a.p, a.b, a.bp, a.gb {
    font-size: 1.8vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  img.playlistImages {
    width: 18vw;
  }
  a,
  ul,
  p,
  ol,
  span {
    font-size: 1.6vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  figcaption, a.figcaption {
    font-size: 1.3vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  sup {
    font-size: 0.8vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  a.imageSource {
    text-align: center;
    font-size: 0.8vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  span.aboutHeading2 {
    font-size: 1.8vw;
  }
  span.aboutHeading3 {
    font-size: 1.6vw;
  }
  h3.aboutHeading2 {
    font-size: 1.8vw;
  }
  .heading {
    font-size: 1.5vw;
  }
  .heading2 {
    font-size: 1.5vw;
  }
  h1 {
    font-size: 2.4vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  h2 {
    font-size: 2vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  h3 {
    font-size: 1.8vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  h4 {
    font-size: 1.6vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  .dash {
    font-size: 1.6vw;
  }
}
/* screen width lower than 1000 px */
@media screen and (max-width: 1000px) and (min-width: 0px) {
  /* two-col layout */
  div.column {
    float: left;
  }
  div.leftcol {
    width: 75%
  }
  div.rightcol {
    width: 25%
  }
  div.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .l:visited {
    color: #f00;
  }
  .l:link {
    text-decoration: none;
    color: #f00;
  }
  .l:hover {
    color: #ff5614;
  }
  a.ml, a.b, a.p, a.b, a.bp, a.gb {
    font-size: 3.5vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  img.playlistImages {
    width: 30vw;
  }
  a,
  ul,
  p,
  ol,
  span {
    font-size: 3.2vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  figcaption,  a.figcaption {
    font-size: 2.8vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  sup {
    font-size: 1.5vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  a.imageSource {
    text-align: center;
    font-size: 1.5vw;
    font-family: Ubuntu, Sans-Serif;
    word-wrap: break-word;
  }
  span.aboutHeading2 {
    font-size: x-large;
  }
  span.aboutHeading3 {
    font-size: large;
  }
  h3.aboutHeading2 {
    font-size: x-large;
  }
  .heading {
    font-size: 3.7vw;
  }
  .heading2 {
    font-size: 3.2vw;
  }
  h1 {
    font-size: 6vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  h2 {
    font-size: 5vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  h3 {
    font-size: 4vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  h4 {
    font-size: 3.5vw;
    font-family: Ubuntu, Sans-Serif;
    font-weight: normal;
  }
  .dash {
    font-size: 3.5vw;
  }
}
/* li bullet icons for diff profiles/links */
ul.noBullets {
  list-style: none;
}

li.ml:before {
  margin-left: -20px; 
  margin-right: 10px;
}

li.waid:before {
  content: '📝';
}

li.linkedin:before {
  content: '👤';
}

li.github:before {
  content: '📦';
}

li.blog:before {
  content: '🗒️';
}

li.cv:before {
  content: '📃';
}

li.email:before {
  content: '✉️';
}

li.coolLinks:before {
  content: '⛓️';
}

li.playlists:before {
  content: '🎶';
}

/* li bullet icons for cv section */
li.tag:before {
  content:'>';
}
