html {
    background-color: black;
    color: white;
}

a.b:link {
    text-decoration: none;
    color: aqua;
}

@media screen and (max-width: 600px) {
    a.l:link {
        text-decoration: none;
        font-size: 3.3vw;
    }
    a:active {
        color: aqua;
    }
    
    a[tabindex]:focus {
        color:aqua;
        outline: none;
    }
    
    a {
        font-size: 3.3vw;
        font-family: ubuntu, verdana, Sans-Serif;
        word-wrap: break-word;
    }
    
    ul,
    p {
        font-size: 3vw;
        font-family: ubuntu, verdana, Sans-Serif;
        word-wrap: break-word;
    }
    p.heading {
        font-size: 4.5vw;
    }
    p.heading2 {
        font-size: 3.6vw;
    }
    h1,
    h3 {
        font-size: 5.4vw;
        font-family: ubuntu, verdana, Sans-Serif;
    }
  }

  @media screen and (min-width: 601px) {
    a.l:link {
        text-decoration: none;
        font-size: 1.1vw;
    }
    a:active {
        color: aqua;
    }
    
    a[tabindex]:focus {
        color:aqua;
        outline: none;
    }
    
    a {
        font-size: 1.1vw;
        font-family: ubuntu, verdana, Sans-Serif;
        word-wrap: break-word;
    }
    
    ul,
    p {
        font-size: 1vw;
        font-family: ubuntu, verdana, Sans-Serif;
        word-wrap: break-word;
    }
    p.heading {
        font-size: 1.5vw;
    }
    p.heading2 {
        font-size: 1.2vw;
    }
    h1,
    h3 {
        font-size: 1.8vw;
        font-family: ubuntu, verdana, Sans-Serif;
    }
    
  }