html {
    background-color: black;
    color: white;
}

a.b:link {
    text-decoration: none;
    color: aqua;
}

a:visited {
    color: aqua;
}

a.b:hover {
    color: lime;
}

/* showing languages */
.showblockes {
    display: none;
}

.showblocken {
    display: none;
}

.showblocknl {
    display: none;
}

.lshowes:hover .showblockes{
    display: block;
}

.lshowes:hover .hide {
    display: none;
}

.lshowen:hover .showblocken{
    display: block;
}

.lshowen:hover .hide {
    display: none;
}

.lshownl:hover .showblocknl{
    display: block;
}

.lshownl:hover .hide {
    display: none;
}

/* screen width higher than 1000 px */
@media screen and (min-width: 1001px) {
    a.l:link {
        text-decoration: none;
        font-size: 1.25vw;
    }

    a {
        font-size: 1.1vw;
        font-family: ubuntu, verdana, Sans-Serif;
        word-wrap: break-word;
    }

    ul,
    p {
        font-size: 1vw;
        font-family: ubuntu, verdana, Sans-Serif;
        word-wrap: break-word;
    }

    p.heading {
        font-size: 1.5vw;
    }

    p.heading2 {
        font-size: 1.2vw;
    }

    h1,
    h3 {
        font-size: 1.8vw;
        font-family: ubuntu, verdana, Sans-Serif;
    }

} 

/* screen width lower than 1000 px */
@media screen and (max-width: 1000px) {
    #root {
        --font-adapt: 7;
    }

    a.l:link {
        text-decoration: none;
        font-size: var(--font-adapt)*1.25vw;
    }

    a {
        font-size: var(--font-adapt)*1.1vw;
        font-family: ubuntu, verdana, Sans-Serif;
        word-wrap: break-word;
    }

    ul,
    p {
        font-size: var(--font-adapt)*1vw;
        font-family: ubuntu, verdana, Sans-Serif;
        word-wrap: break-word;
    }

    p.heading {
        font-size: var(--font-adapt)*1.5vw;
    }

    p.heading2 {
        font-size: var(--font-adapt)*1.2vw;
    }

    h1,
    h3 {
        font-size: var(--font-adapt)*1.8vw;
        font-family: ubuntu, verdana, Sans-Serif;
    }
}

