html {
    background-color: black;
    color: white;
}

a.b:link {
    text-decoration: none;
    color: aqua;
}

a:visited {
    color: aqua;
}

a.b:hover {
    color: lime;
}

/* hide and show languages names */
/* ES */
.hidees {
    display: none;
}

.showes:hover + .hidees {
    display: inline-block;
}
/* EN */
.hideen {
    display: none;
}

.showen:hover + .hideen {
    display: inline-block;
}
/* NL */
.hidenl {
    display: none;
}

.shownl:hover + .hidenl {
    display: inline-block;
}

/* screen width higher than 1000 px */
@media screen and (min-width: 1001px) {
    .l:visited {
        color: red;
    }

    .l:link {
        text-decoration: none;
        font-size: 1.25vw;
        color: red;
    }

    .l:hover {
        color: lightsalmon;
    }

    a {
        font-size: 1.1vw;
        font-family: ubuntu, Sans-Serif;
        word-wrap: break-word;
    }

    ul,
    p,
    span {
        font-size: 1vw;
        font-family: ubuntu, Sans-Serif;
        word-wrap: break-word;
    }

    .heading {
        font-size: 1.5vw;
    }

    .heading2 {
        font-size: 1.12vw;
    }

    h1,
    h3 {
        font-size: 1.8vw;
        font-family: ubuntu, Sans-Serif;
    }

} 

/* screen width lower than 1000 px */
@media screen and (max-width: 1000px) {

    .l:visited {
        color: red;
    }

    .l:link {
        text-decoration: none;
        font-size: 5*1.25vw;
        color: red;
    }

    .l:hover {
        color: lightsalmon;
    }

    a {
        font-size: 5*1.1vw;
        font-family: ubuntu, Sans-Serif;
        word-wrap: break-word;
    }

    ul,
    p,
    span {
        font-size: 5*1vw;
        font-family: ubuntu, Sans-Serif;
        word-wrap: break-word;
    }

    .heading {
        font-size: 5*1.5vw;
    }

    .heading2 {
        font-size: 5*1.12vw;
    }

    h1,
    h3 {
        font-size: 5*1.8vw;
        font-family: ubuntu, Sans-Serif;
    }
}

