// MIXINS
//Dummy Variable
$x = false;
// The top, left, right, and bottom are optional
setup(display, position, margin, top = null, right = null, bottom = null, left = null)  
    display display
    position position
    margin margin
    top top
    left left
    right right
    bottom bottom
        
font(font-family, font-size, letter-spacing, font-weight, line-height = 1)
    font-family font-family
    font-size font-size
    letter-spacing letter-spacing
    font-weight font-weight
    line-height line-height
        
// GENERAL FONTS AND CLASSES AND SETUP STUFF
* {box-sizing: border-box; transition: 0.35s ease;}
    
.rela-block
    setup(block, relative, auto)
.rela-inline
    setup(inline-block, relative, auto)
.floated
    setup(inline-block, relative, $x)
    float left
    
.abs-center
    setup($x, absolute, $x, 50%, $x, $x, 50%)
    transform translate(-50%, -50%)
    text-align center
    width 88%
    
// --- COLORS ---

// --- PAGE STYLINGS ---
body
    font('Ubuntu',18px,0px,400,28px)
    &:before
        content ""
        setup($x,fixed,0,0,0,0,0)
        background-color rgb(0,0,0)
    
.caps {text-transform: uppercase;}
.justified {text-align: justify;}
p.light {color: white;}
span.lesslight {color: black; font-weight: bold;}
p.lesslight {color: black;}
h2 {font('Ubuntu',25px,3px,600,40px); color: White}
h3 {font('Ubuntu',19px,1px,600,22px); color: White}
a {color: black; text-decoration: none; font-weight: bold;}
.page
    width 90%
    max-width 1200px
    margin 80px auto
    background-color #888888
    
.top-bar
    height 220px
    background-color #232323
    color white
    
.name
    setup($x,absolute,$x,$x,0,0,calc(350px + 5%))
    height 120px
    text-align center
    font('Ubuntu',66px,8px,700,60px)
    & div {width: 94%}
    
.side-bar
    setup($x,absolute,$x,60px,$x,0,5%)
    width 350px
    background-color #525252
    padding 320px 30px 50px
        
.mugshot
    setup($x,absolute,$x,50px,$x,$x,70px)
    height 210px
    width 210px
    & .logo {margin: -23px;}
    
.logo
    $midSize = 300px;    // Controls overall size
    setup($x,absolute,$x,0,$x,$x,0)
    z-index 100
    margin 0
    color black
    height $midSize
    width $midSize


.social
    padding-left 60px
    margin-bottom 20px
    cursor pointer
    &:before
        content ""
        setup($x,absolute,$x,-4px,$x,$x,10px)
        height 35px
        width 35px
        background-size cover !important
    &.website:before{background: url('../../icons/profiles/website.png') center no-repeat}
    &.email:before{background: url('../../icons/profiles/email.png') center no-repeat}
    &.github:before{background: url('../../icons/profiles/github.png') center no-repeat}
    &.linkedin:before{background: url('../../icons/profiles/linkedin.png') center no-repeat}
    &.medium:before{background: url('../../icons/profiles/medium.png') center no-repeat;}
    &.whatsapp:before{background: url('../../icons/profiles/whatsapp.png') center no-repeat;}
        
.side-header
    font('Ubuntu',18px,2px,600,28px)
    margin 60px auto 10px
    padding-bottom 5px
    border-bottom 1px solid #888
    
.list-thing {padding-left: 25px; margin-bottom: 10px}
        
.content-container
    margin-right 0
    width calc(95% - 350px)
    padding 25px 40px 50px
    & > * {margin: 0 auto 25px}
    & > h3 {margin: 0 auto 5px}
    & > p.long-margin {margin: 0 auto 50px}

.title{width: 80%; text-align: center}

.separator
    width 240px
    height 2px
    background-color #999
    
.greyed
    background-color #DDD
    width 100%
    max-width 580px
    text-align center
    font('Ubuntu',18px,2px,600,28px)
    
@media screen and (max-width: 1150px)
    .name {color: white; font('Ubuntu',38px,6px,100,48px)}