html {
  background-color: #fff;
  color: #000;
}
p.innerText {
  font-size: large;
}
span.innerText {
  font-size: large;
}
span.aboutHeading {
  font-size: x-large;
}
a {
  cursor: pointer;
}
/* homepage main block links */
div.ml:hover {
  background-color: rgb(231, 255, 230);
}
div.alt {
  background-color: rgb(231, 255, 230);
}
div.alt2 {
  background-color: rgb(231, 255, 230);
}
/* playlist images hover text/panel color */
.img__dl_hover_panel {
  background: rgba(255, 255, 255, 0.561);
  color: rgb(0, 0, 0);
}
/* go to random link */ 
#goToRandomLinkTitle {
  text-decoration: none;
  color: rgb(53, 71, 233);
}
#goToRandomLinkTitle:hover {
  color: #00a100;
}
/* borders */
.homepageButtons {
  border: 1px solid black;
}
.homepageButtons:hover {
  background-color: rgb(25, 182, 255);
}
.divBorder {
  outline: 2px solid black;
  border-radius: 20px 20px 20px 20px;
}
/* links (lt) */
a.lt {
  text-decoration: none;
  color: rgb(255, 173, 42);
}
a.lt:visited {
  color: rgb(255, 173, 42);
}
a.lt:hover {
  color: #eeff00;
}
/* links (dt) */
a.dt {
  text-decoration: none;
  color: rgb(146, 39, 233);
}
a.dt:visited {
  color: rgb(146, 39, 233);
}
a.dt:hover {
  color: #4700cc;
}
/* links (b) */
a.b {
  text-decoration: none;
  color: rgb(53, 71, 233);
}
a.b:visited {
  color: rgb(53, 71, 233);
}
a.b:hover {
  color: #00a100;
}
/* links (c) */
a.c {
  text-decoration: none;
  color: rgb(0, 116, 170);
}
a.c:visited {
  color: rgb(0, 116, 170);
}
a.c:hover {
  color: #007500;
}
/* links (p) */
a.p {
  text-decoration: none;
  color: rgb(0, 116, 170);
}
a.p:visited {
  color: rgb(0, 116, 170);
}
a.p:hover {
  color: rgb(255, 0, 0);
}
/* hide and show blog preview link */
a.bp {
  color: rgb(0, 116, 170);
}
a.bp {
  text-decoration: none;
  color: rgb(0, 116, 170);
}
a.bp:visited {
  color: rgb(0, 116, 170);
}
a.bp:hover {
  color: #78ac00;
}
/* links (title) */
a.title {
  text-decoration: none;
  color: rgb(104, 53, 255)
}
a.title:visited {
  color: rgb(104, 53, 255)
}
a.title:hover {
  color: rgb(62, 103, 199)
}
/* links (going back) */
a.gb {
  text-decoration: none;
  color: rgb(233, 55, 55);
}
a.gb:visited {
  color: rgb(233, 55, 55);
}
a.gb:hover {
  color: #c139eb;
}
/* langs legacy stuff */
.l:visited {
  color: #f00;
}
.l {
  text-decoration: none;
  color: #f00;
}
.l:hover {
  color: #ff5614;
}
