img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100vh;
    padding: 0;
    margin: auto;
}

a:link {
    text-decoration: none;
    color: #0ff;
    font-weight: bold;
}

a:visited {
    color: #0ff;
}

a:hover {
    color: #7dff7d;
}

