img {
    display: block;
    max-width: 100%;
    max-height: 97vh;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

figure {
    text-align: center;
}

a:link {
    text-decoration: none;
    color: #0ff;
    font-weight: bold;
}

a:visited {
    color: #0ff;
}

a:hover {
    color: #7dff7d;
}

.ad {
    color:rgb(71, 233, 198);
}