span.red {
    color: red;
}

span.green {
    color: green;
}

span.lc {
    color: lightcoral;
}

a:hover {
    cursor: pointer;
}

#boysDontCryLink, #boysDontCryLink:visited {
    color: #0ff;
}
#boysDontCryLink:hover {
    color: #7dff7d;
}
#boysDontCryAudio {
    text-align: center;
}
