@media screen and (min-width: 2000px) {
    img {
        width: 53%;
        height:100%;
        background-size: 100%;
        object-fit: cover;
    }
    img.smaller {
        width: 25%;
        height:100%;
        background-size: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 2000px) and (min-width: 1000px) {
    img {
        width: 60%;
        height:100%;
        background-size: 100%;
        object-fit: cover;
    }
    img.smaller {
        width: 30%;
        height:100%;
        background-size: 100%;
        object-fit: cover;
    }
}
@media screen and (max-width: 1000px) and (min-width: 0px) {
    img {
        width: 90%;
        height:100%;
        background-size: 100%;
        object-fit: cover;
    }
    img.smaller {
        width: 40%;
        height:100%;
        background-size: 100%;
        object-fit: cover;
    }
}

span.red {
    color: red;
}

span.lc {
    color: lightcoral;
}

a:hover {
    cursor: pointer;
}

#boysDontCryLink, #boysDontCryLink:visited {
    color: #0ff;
}
#boysDontCryLink:hover {
    color: #7dff7d;
}
#boysDontCryAudio {
    text-align: center;
}
